apiVersion: apps/v1
kind: Deployment
metadata:
  name: quarkus-native-proto
spec:
  template:
    spec:
      containers:
        - name: app
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: "25m"
              memory: "96Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
